body {
  background: #FFF8E9;
}
#menu_wrap {
  margin-bottom: 30px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
#menu_wrap ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
#menu_wrap ul a {
  color: white;
  background: #76CDED; /*link before*/
  display: block;
  text-decoration: none;
  font-size: 40px;
  line-height: 50px;
  padding: 0 30px;
  transition: background 0.75s;
}
#menu_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}


#menu_wrap ul li a:hover {
  background: #336699; /*sublink hover*/
  cursor:pointer;
}

#menu_wrap ul ul {
  display: none;
  position: absolute;
  padding: 0;
}

#menu_wrap ul ul li {
  float: none;
  width: 325px;
}

#menu_wrap ul ul a {
  line-height: 120%;
  font-size: 35px;
  padding: 10px 15px;
}

#menu_wrap ul li:hover > ul {
  background: #336639; /*link hover*/
  display: block;
}
